.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgb(34 204 255)
}
