body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#header-fixo {
    position: fixed;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    top: 0;
    left: 0;
}

#menu {
    margin-top: 80px;
    background: #555;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

#conteudo {
    display: flex;
    margin-top: 20px;
    padding-top: 10px;
}

#esquerda, #direita {
    width: 25%;
    background: #ddd;
    padding: 20px;
}

#centro {
    width: 50%;
    background: #fff;
    padding: 20px;
}

#footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    margin-top: 20px;
}
