/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 10px
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    background: #444;
    padding: 5px 10px;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

/* Estilos para a página com header fixo */
#header-fixo {
    position: fixed;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    top: 0;
    left: 0;
}

#menu {
    margin-top: 70px; /* Espaço para o header fixo */
    background: #555;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

#conteudo {
    display: flex;
    flex: 1;
    margin-top: 20px;
    padding-top: 10px;
}

#esquerda, #direita {
    width: 25%;
    background: #ddd;
    padding: 20px;
    overflow: auto;
}

#centro {
    width: 50%;
    background: #fff;
    padding: 20px;
    overflow: auto;
}

/* Estilos para a página com sidebar fixa */
#sidebar-fixo {
    position: fixed;
    width: 25%;
    height: 100%;
    background: #555;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    top: 0;
    left: 0;
}

#conteudo-sidebar {
    display: flex;
    flex: 1;
    margin-left: 25%; /* Espaço para a sidebar fixa */
    padding-top: 10px;
}

#centro-largo {
    width: 75%;
    background: #fff;
    padding: 20px;
    overflow: auto;
}

#direita {
    width: 25%;
    background: #ddd;
    padding: 20px;
    overflow: auto;
}
