.conteudo {
  background: #DCDCDC;
  border: 2px solid blue;
}

.linha {
  background: #87CEEB;
  border: 2px solid black;
}

.coluna {
  background: #FFEBCD;
  border: 2px solid black;
}
