footer {
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .container {
        width: 80%;
        margin: 0 auto;
    }
    .destino {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 20px;
        overflow: hidden;
    }
    .destino img {
        float: left;
        margin-right: 20px;
        width: 300px;
        height: 200px;
        margin-bottom: 10px;
    } 
