.body {
  padding-top: 20px;
}

.modal-content {
  background-color: #f7f7f7;
}

.navbar-nav .nav-link {
  margin: 5px;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  justify-content: center;
}

.popover {
  max-width: 300px;
}

.popover-body {
  text-align: center;
}

.btn-popover {
  margin: 5px 0;
}
