.noticia {
    font-family: "opensans-regular", arial, sans-serif;
    background-color: #F5F5DC;
    border: 1px solid black;
    color: #333;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 10px;
    text-align: justify;
    line-height: 24px;
    width: 500px;
    margin-bottom: 20px;
    float: left;
}

.noticia h1 {
    color: #c4170c;
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 8px;
}

.noticia p {
    clear: both;
}

.imagem {
    float: right;
    width: 200px;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 20px;
}
