.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1000px;
}

.noticia {
    width: calc(33.33% - 20px);
    margin: 10px;
    float: right;
    background-color: #F5F5DC;
    border: 1px solid black;
    color: #333;
    padding: 10px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "opensans-regular", arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.noticia h1 {
    color: #c4170c;
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 10px;
}

.noticia p {
    clear: both;
}

.imagem {
    width: 100%;
    margin-bottom: 10px;
    float: right;
    width: 200px;
    padding: 10px;
}
