* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.flor {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    position: relative;
}

.petala {
    width: 50%;
    height: 50%;
    border: 2px solid #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.petala1 {
    background-color: #FF6347;
    border-top-left-radius: 90%;
    border-bottom-left-radius: 300%;
    border-bottom-right-radius: 45%;
    border-top-right-radius: 330%;
}

.petala2 {
    background-color: #FFD700;
    border-top-right-radius: 40%;
    border-top-left-radius: 230%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 220%;
}

.petala3 {
    background-color: #90EE90;
    border-top-right-radius: 20%;
    border-top-left-radius: 230%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 220%;
}

.petala4 {
    background-color: #87CEEB;
    border-top-left-radius: 45%;
    border-bottom-left-radius: 300%;
    border-bottom-right-radius: 90%;
    border-top-right-radius: 330%;
}

.bolota {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.bola {
    width: 50%;
    height: 50%;
    border: 2px solid #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bola1 {
    background-color: #FF6347;
}

.bola2 {
    background-color: #FFD700;
}

.bola3 {
    background-color: #90EE90;
}

.bola4 {
    background-color: #87CEEB;
}
